@charset "UTF-8";


/* font-family: aGothic */
/* a고딕 10~19까지 */

/* font-family : roxie */

*{box-sizing: border-box;}
.hidden{display: none;}
img{display: block;}
a{display: block;color: #030102;}

/* skip-nav */
#skip-nav{
    width: 100%;
    height: 40px;
    margin: auto;
    position: relative;
    /* 부모요소 relative 두기 */
    background-color: #000;
}
#left-skip{
    position: absolute;
    left: 7%;
    padding-top: 9px;
}
#right-skip{
    position: absolute;
    right: 7%;
    padding-top: 9px;
}

#left-skip li,#right-skip li {
    display: inline-block;
    padding: 0 10px;
}
#left-skip li a, #right-skip li a{
   color: #fff;
   font-size: 10px; 
   font-family: aGothic;
   font-weight: 200;
}
#left-skip li a:hover, #right-skip li a:hover{
    text-decoration: underline;
}
/* ------검색창------ */
input{
    border: 0;
    outline: none;  /* input 테두리 삭제*/
}
input:first-child{
    width: 120px;
    height: 20px;
    padding-left: 3px; /* 글자입력부분 왼쪽에서 띄우기 */
    color: #fff;
    border-bottom: 1px solid #fff;
}
input:last-child{
    width: 15px;
    height: 15px;

}
#search-search{
    background-color: #000;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 0.813px;
    outline: none;
}
/* input태그 안의 글씨 색 바꾸기 */
/* placeholder="검색하기" 을 input태그에 추가해서 노출 txt내용 지정 */
/* input::placeholder {
    color: #fff;
    font-family: aGothic;
  } */
#search-image{
    object-position: bottom;
    object-fit: contain;
    vertical-align: middle;
}


/* ------------/header/------------ */
header{
    clear: both;
    width: 100%;
    height: 128px;
    min-width: 1200px;
    float: left;
    /* 밀림방지 */
}
.header-in{
    width: 1200px;
    min-width: 1200px;
    /* height: 160px; */
    margin: auto;
    position: relative;
}
.header-in h1 img{
    /* 350x70 */
    width: 250px;
    height: auto;
    position: absolute;
    top: 27px;
    left: 50%;
    margin-left: -110px;
}

.header-in nav{
    float: left;
    width: 1300px;
    height: 40px;
    position: absolute;
    top: 88px;
    left: 50%;
    margin-left: -650px;
    z-index: 5;
}
.header-in nav ul{width: 100%;height: 25px;}
.header-in nav ul li a{
    padding: 7px 41px 0;
    height: 25px;
    text-align: center;
    font-size: 15px;
}
/* 1차메뉴 */
.header-in nav ul#gnb> li{float: left;}
.header-in nav ul#gnb> li >a{

    text-align: center;
    position:relative;
    transition: all 0.3s;
}
.header-in nav ul#gnb> li >a:hover{
    color: #B50A03;
}

header nav ul li.active a::after{
    content:"";
    display:block;
    position:absolute;
    left: 20%;
    bottom:1px;
    width:80%;
    height:2px;
    background-color:#B50A03;
    opacity: 0;
}
header div nav ul li.active:hover a::after{
    animation: line 0.5s ease-in-out;
    opacity: 1;
}
header div nav ul li a::after{
    content:"";
    display:block;
    position:absolute;
    left: 20%;
    bottom:-8px;
    width:80%;
    height:2px;
    background-color:#B50A03;
    opacity: 0;
    margin: auto;
}
header div nav ul li:hover a::after{
    animation: line 0.3s ease-in-out forwards;
    opacity: 1;
}
@keyframes line{
    from{width: 20%;}
    to{width: 60%;}
}



/* 2차메뉴 */
.header-in nav ul.submenu li{display: none;}
.header-in nav ul.submenu li a{
    background-color: #BA3732;
    color: #fff;
}

/* nav-bg */
.nav-bg{
    width: 1200px;
    height: 427px;
    background-color: #BA3732;
    z-index: 4;
    position: absolute;
    top: 100px;
    display: none;
}


/* ------------------section---------------- */
#section-wrap{clear: both;margin: auto;}

/* banner */
#banner{
    clear: both;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
}
#banner > div.banner-box{
    width: 930px;
    height: 80px;
    margin: auto ;
}

#banner .banner-box> div{
    float: left;
    width: 450px;
    height: 80px;
    position: relative;
}
#banner .banner-box> div.banner-box2{float: right;}
#banner .banner-box> div span{font-weight: bold;}
#banner .banner-box> div p{
    font-size: 14px;
    float: left;
    line-height: 1.2;
    font-size: 12px;
}
#banner .banner-box> div.banner-box1 p{
    padding: 32px 10px;
}
#banner .banner-box> div.banner-box2 p{
    padding: 19px 10px;
}

/* banner-btn */
#banner .banner-box> div a{
    width: 120px;
    height: 35px;
    border: 1px solid #B50A03;
    color: #B50A03;
    text-align: center;
    padding-top: 9px;
    font-size: 14px;
    font-weight: bold;

    float: left;
    position: absolute;
    top: 24px;
    right: 20px;
    transition: all 0.3s;
}
#banner .banner-box> div a:hover{
    background-color: #B50A03;
    color: #fff;    
}


/* #banner .banner-box div.banner-box1{    
    margin-right: 0px;
} */
#banner .banner-box div.banner-box2::after{
    /* 박스 사이 선 */
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ccc;
    margin: 10px 0 10px -15px;
}



/* New at Sephora */
#new-items{
    clear: both;
    width: 100%;
    height: 520px;
    /* background: #f1f1f1; */
    position: relative;
    margin: 40px 0 25px;  
}
#new-items .new-box{
    justify-content: center;
    width: 100%;
    height: auto;
}

#new-items .new-box h2{
    font-family : roxie;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    padding: 25px 0 30px;
}

#new-items .new-box >div{
    width: 1220px;
    height: auto;
    margin: auto;
}
#new-items .new-box >div div{

    float: left;
    width: 360px;
    height: 420px;
    position: relative;
    border: 1px solid #ccc;
    background: #fff;    

}
#new-items .new-box >div div.new2{
    margin: 0 70px;
}
#new-items .new-box >div div a{transition: all 0.3s;}
#new-items .new-box >div div a >p:nth-child(2){
    font-size: 15px;
    font-weight: 700;
    margin: 12px 5px 0;
    letter-spacing: 1px;
    text-align: center;
    font-family: aGothic;
}
#new-items .new-box >div div a >p:nth-child(3){
    font-size: 20px;
    font-weight: 300;
    margin: 5px;
    line-height: 1.2;
    text-align: center;
    font-family: aGothic;
}
#new-items .new-box >div div.new2 a >p:nth-child(3){
    margin-top: 15px;
}

#new-items .new-box >div div a span{
    position: absolute;
    left: 50%;
    bottom: 13px;
    margin-left: -85px;

    text-align: center;
    font-size: 17px;
    font-weight: 200;
    color: #fff;
    font-family: aGothic;
    padding-top: 12px;

    width: 170px;
    height: 45px;
    border: 1px solid #B50A03;
    background: #B50A03;
}

#new-items .new-box >div div a img{
    width: 360px;
    height: auto;
}

#new-items .new-box >div div:hover a span{
    opacity: 0.8;
}
#new-items .new-box >div div:hover a img{
    opacity: 0.8;
}


/* -----Most Loved Items----- */
#most-items{
    width: 100%;
    height: auto;
    margin: 5px auto 35px;
    padding: 15px 0;
}

#most-items h2{
    text-align: center;
    font-family : roxie;
    font-size: 32px;
    font-weight: normal;
    padding: 20px 0;
}
#most-items h2::after{
   /* ---글씨 하단 선--- */
    content: "";
    display: block;
    width: 60px;
    height: 0.8px;
    background-color: #333;
    margin: 12px auto 0;
}
.most-box{
    width: 85%;
    height: auto;
    margin: auto;
}
.most-box .items-box{
    margin: 0 10px;
    padding-bottom: 10px;
}
.most-box div a img{
    width: 100%;
}
#most-items div div a p{
    font-size: 14px;
    padding: 5px 0 0 3px;
    line-height: 1.2;
    font-weight: lighter;
}
#most-items div div a p strong{
    font-size: 13px;
    margin-top: 5px;
}
#most-items div div a p:last-child{
    font-weight: bold;
    padding: 10px 0 0 3px ;
}
#most-items div > div.items-box:hover a p:nth-child(3){
    text-decoration: underline;
}

/* -----하단 fixed 영역----- */
#block-slide{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.block-box{
    width: 1920px;
    height: 500px;
    background: url(../images/common/block01.jpg) no-repeat center fixed;
    margin: auto;
}

.block-box:hover a p{
    font-weight: bold;
    border-bottom: 3px solid #fccbca;
    padding-bottom: 5px;
}
.block-box a img{
    height: 100%;
}

/* block-txt 시작위치 */
.block-box a:first-child{
    width: auto;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    right: 100px;


    display: block;
    overflow: hidden;

    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.3s;
}
.block-box a:last-child{
    font-size: 35px;
    color: #fccbca;

    position: absolute;
    top: 400px;
    right: 380px;

    display: block;
    overflow: hidden;

    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.3s;
}

/* bloxk-txt 도착위치 */
.block-box a:first-child.move{
    width: auto;
    height: 200px;

    position: absolute;
    top: 50%;
    margin-top: -120px;
    right: 100px;
    
    display: block;
    opacity: 1;
}

.block-box a:last-child.move{
    position: absolute;
    top: 350px;
    right: 380px;

    display: block;
    overflow: hidden;

    display: block;
    opacity: 1;
}


/* -----Sephora Pick----- */
#pick-items{
    width: 100%;
    height: auto;
    margin: 30px auto 10px;
    padding: 20px 0;
}
#only-items{
    width: 100%;
    height: auto;
    margin: 20px auto 50px;
    padding: 20px 0;
}
#pick-items h2, #only-items h2{
    text-align: center;
    font-family : roxie;
    font-size: 32px;
    font-weight: normal;
    padding: 20px 0;
}
#pick-items h2::after, #only-items h2::after{
        /* ---글씨 하단 선--- */
        content: "";
        display: block;
        width: 60px;
         height: 0.8px;
         background-color: #333;
         margin: 10px auto -10px;
}
.pick-box, .only-box{
    width: 85%;
    height: auto;
    margin: auto;
}
.items-box{
    margin: 0 10px;
    padding-bottom: 10px;
}
.pick-box div a img, .only-box div a img{
    width: 100%;
}
#pick-items div div a p, #only-items div div a p{
    font-size: 14px;
    padding: 5px 0 0 3px;
    font-weight: lighter;
    line-height: 1.2;
}
#pick-items div div a p strong, #only-items div div a p strong{
    font-size: 13px;
    margin-top: 5px;
}
#pick-items div div a p:last-child, #only-items div div a p:last-child{
    font-weight: bold;
    padding: 10px 0 0 3px ;
}
#pick-items div > div.items-box:hover a p:nth-child(3), #only-items div> div.items-box:hover a p:nth-child(3){
    text-decoration: underline;
}


/* -----SNS----- */
#sns{
    width: 100%;
    height: auto;
    /* 520 */
    background-color: #7B0B10;
    padding: 90px 0 130px;
}
#sns p{
    color: #fff;
    text-align: center;
    font-weight: lighter;
    font-family: aGothic;
    font-size: 13px;
}
#sns h3{
    text-align: center;
    font-family : roxie;
    font-size: 32px;
    font-weight: lighter;
    padding: 7px 0 30px;
    color: #fff;
}
.sns-box{
    width: 60%;
    height: auto;
    margin: auto;
}
.sns-box div{
    /* width: 232px;
    height: auto; */
    margin: 0 5px;
}
.sns-box div:first-child{
    margin: 0 5px 0 2px;
}
.sns-box > div a:hover{
    filter:  grayscale(60%);
}
.sns-box > div a img{
    width: 100%;
}


/* ------footer------ */
footer{
    clear: both;
    width: 100%;
    height: 370px;
    background-color: #030102;
    font-family: aGothic;
    display: block;
}
#footer-box{
    width: 1500px;
    height: 370px;
    margin: auto;
    padding: 0 40px 0 60px;
}
#footer-box > div{float: left;}
#left-footer{
    /* float: left; */
    width: 800px;
    height: 370px;
    padding: 40px 0 0 70px;
    position: relative;
}
#left-footer::after{
            /* 박스 사이 선 */
            content: "";
            display: block;
            width: 1px;
            height: 240px;
            background-color: #ccc;
            position: absolute;
            top: 55px;
            right: 0px;
}
.footer-box h5{
    font-size: 15px;
    margin-bottom: 17px;
}
#left-footer > div nav ul li a{
    font-size: 12px;
    line-height: 1.6;
    color: #fff;
    font-weight: 200;
}
#left-footer > div nav ul li a:hover{text-decoration: underline;}
#left-footer > div p{
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.5;
    font-weight: 100;
}

#left-footer > div{
    width: 170px;
    height: 170px;
    float: left;
    color: #fff;
}
#left-footer > div#customer{
    height: 250px;
    position: absolute;
    top: 70px;
    left: 70px;
}
#left-footer > div#company{
    position: absolute;
    top: 70px;
    left: 340px;
}
#left-footer > div#link{
    height: 130px;
    position: absolute;
    top: 70px;
    right: 30px;
}
#left-footer > div#sns-link{
    height: 100px;
    position: absolute;
    top: 230px;
    right: 30px;
}
#left-footer > div#sns-link ul li{
    float: left;
    margin: 0 8px 0 0;
}

/* right */
#right-footer{
    /* float: left; */
    width: 600px;
    height: 370px;
    padding: 70px 0 0 90px;
    font-family: aGothic;
}
#right-footer h4{
    width: 200px;
    margin-bottom: 20px;
}
#right-footer h4 img{
    width: 100%;
}

#right-footer address{
    padding-left: 5px;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    color: #fff;
}



