@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: roxie;
    src: url(../font/Roxie-rossa.woff);
}

@font-face {
    font-family: aGothic;
    src: url(../font/aGothic/a고딕10.woff) font-weight-100 font-weight-lighter,
        url(../font/aGothic/a고딕11.woff) font-weight-200,
        url(../font/aGothic/a고딕12.woff) font-weight-300 font-weight-normal,
        url(../font/aGothic/a고딕13.woff) font-weight-400,
        url(../font/aGothic/a고딕14.woff) font-weight-500,
        url(../font/aGothic/a고딕15.woff) font-weight-600 font-weight-bold,
        url(../font/aGothic/a고딕16.woff) font-weight-700 font-weight-bolder,
        url(../font/aGothic/a고딕17.woff) font-weight-800,
        url(../font/aGothic/a고딕18.woff) font-weight-900;
}

/* font-family: 'Noto Sans KR', sans-serif; */

/* font-family: aGothic */
/* a고딕 10~19까지 */

/* font-family : roxie */
/* #B50A03 */


/* =============scroll-spy============= */
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-up{
    /* 아래에서 위로 등장하게 */
    transform: translateY(30px);
}
.back-to-position.to-fast-up{
    /* 아래에서 위로 등장하게 */
    transform: translateY(200px);
}
.show .back-to-position{
    opacity: 1;
    transform: translate(0);
}

/* 시간차 등장 모션 제작 */
.show .back-to-position.delay-0{transition-delay: 0s;}
.show .back-to-position.delay-05{transition-delay: 0.15s;}
.show .back-to-position.delay-1{transition-delay: 0.3s;}
.show .back-to-position.delay-2{transition-delay: 0.6s;}
.show .back-to-position.delay-3{transition-delay: 0.9s;}


/* =============common============= */
body {
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap; /* 여러줄 배치 */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
img{display: block;}
.hidden{display: none;}

/* ------ btn ------ */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    border: 1px solid #B50A03;
    font-size: 13px;
    color: #B50A03;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background: #B50A03;
    color: #fff;
}
.btn.btn--item{
    width: 160px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #B50A03;
    color: #fff;
    background-color: #B50A03;
}
.btn.btn--item:hover{
    opacity: 0.8;
}


/* ===========Header=========== */
header{
    width: 100%;
    height: 160px;
    min-width: 1350px;
    float: left; /*밀림방지*/
    z-index: 10;
}
/* ------submenu------ */
header .subMenu{
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
}
header .subMenu .subMenu__inner{
    margin: auto;
    width: 1350px;
    height: 40px;
    display: flex;
    justify-content: space-between; /*양 끝에 배치*/
    align-items: center; /*세로 가운데 배치*/
}
header .subMenu ul{
    display: flex;
    flex-wrap: wrap; /*여러줄 배치*/
}
header .subMenu ul li{padding: 0 12px;}
header .subMenu ul li:hover{text-decoration: underline; /*hover 시 밑줄*/}
header .subMenu ul li a{font-size: 13px;}

header .subMenu ul#left-skip li:first-child{padding: 0 10px 0 0;}
header .subMenu ul#left-skip li:first-child:hover{text-decoration: none;}
header .subMenu ul#left-skip li input:last-child:hover{cursor: pointer;}

header .subMenu ul#right-skip li{padding: 0 15px;}
header .subMenu ul#right-skip li:last-child{padding: 0 0 0 15px;}



/* ------검색창------ */
input{
    border: 0;
    outline: none;  /* input 테두리 삭제*/
}
input:first-child{
    width: 200px;
    height: 17px;
    padding-left: 3px; /* 글자입력부분 왼쪽에서 띄우기 */
    color: #fff;
    border-bottom: 1px solid #fff;
}
input:last-child{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#search-search{
    background-color: #000;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 0.813px;
    outline: none;
}
/* input태그 안의 글씨 색 바꾸기 */
/* placeholder="검색하기" 을 input태그에 추가해서 노출 txt내용 지정 */
/* input::placeholder {
    color: #fff;
    font-family: aGothic;
  } */
#search-image{
    object-position: bottom;
    object-fit: contain;
    vertical-align: middle;
}

/* ------LOGO------ */
header div.inner{
    width: 100%;
    height: 120px;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
}
header div.inner h1{
    width: 1350px;height: 75px;
    margin: auto;
    display: flex;
    /* background-color: yellow; */
    display: flex;justify-content: center;
}
header div.inner h1 img{
    width: 190px;
    height: auto;
    padding: 20px 0 0;
}

/* ------main-menu------ */
header .gnb-pc{
    width: 1350px;
    height: 45px;
    margin: auto;
    position: relative;
}

header .gnb-pc nav ul.main-menu{
    display: flex;
    justify-content: center;
}
header nav ul.main-menu li.item .item__name{
    cursor: pointer;
    height: 45px;
    padding: 10px 45px;
    font-size: 14px; /*main-menu 글자 크기*/
    font-weight: 500;
}
header nav ul.main-menu li.item:hover .item__name{
    color: #B50A03;
}

/* ------sub-menu------ */
header nav ul.main-menu li.item .item__contents{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
header nav ul.main-menu li.item:hover .item__contents{
    /*호버하면 2차메뉴 보임*/
    display: block;
}
/* 1단 */
header nav ul.main-menu li.item .item__contents .contents__menu{
    width: 1350px;
    height: auto;
    height: 395px;
    background-color: #fff;
    /* position: relative; */
    border-top: 1px solid #B50A03 ;
    /* padding: 0 20px 0; */
}
header nav ul.main-menu li.item:nth-child(3) .item__contents .contents__menu, header nav ul.main-menu li.item:nth-child(5) .item__contents .contents__menu, header nav ul.main-menu li.item:nth-child(7) .item__contents .contents__menu{height: 260px;}
header nav ul.main-menu li.item:nth-child(4) .item__contents .contents__menu{height: 310px;}
header nav ul.main-menu li.item:nth-child(6) .item__contents .contents__menu, header nav ul.main-menu li.item:nth-child(8) .item__contents .contents__menu, header nav ul.main-menu li.item:last-child .item__contents .contents__menu{height: 95px;}

header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner{
    display: flex; /*가로방향으로 배치*/
    padding: 30px 45px;
    /* position: absolute;
    top: 0; */
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner >li{
    width: 220px;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner >li h4{
    padding-bottom: 10px;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner >li h4 a{
    font-weight: 500;
    font-size: 15px;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner >li h4 a:hover{
    text-decoration: underline;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner > li ul li{
    padding: 2px 0;
    font-size: 14px;
}
header nav ul.main-menu li.item .item__contents .contents__menu > ul.inner > li ul li:hover{
    font-weight: 500;
    color: #B50A03;
}


/* ================section=============== */
.section-wrap{
    width: 100%;
    min-width: 1350px;
}
/* ------banner------ */
#banner{
    clear: both;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
}
#banner > div.banner-box{
    width: 1350px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
}
#banner .banner-box> div{
    width: 675px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-box> div:first-child{
    padding: 0 60px 0 130px;
}
#banner .banner-box> div:last-child{
    padding: 0 130px 0 60px;
    position: relative;
}
#banner .banner-box> div span{font-weight: bold;}
#banner .banner-box> div p{
    font-size: 14px;
    float: left;
    line-height: 1.2;
}
/* banner-btn */
#banner .banner-box> div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    border: 1px solid #B50A03;
    color: #B50A03;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    transition: all 0.3s;
}
#banner .banner-box> div a:hover{
    background-color: #B50A03;
    color: #fff;    
}
#banner .banner-box div.banner-box2::after{
    /* 박스 사이 선 */
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ccc;
    /* margin: 10px 0 10px -15px; */
    position: absolute;
    left: 0;
}


/* ------shop by brands------ */
#brands{
    clear: both;
    width: 100%;
}
#brands .brands-container{
    width: 1350px;
    height: 250px;
    margin: auto;
    padding: 44px 0;
}
#brands .brands-container h2{
    font-family : roxie;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    padding: 0 0 25px;
}
#brands .brands-container div ul{
    width: 1350px;
    display: flex;
}
#brands .brands-container div ul li{
    border: 1px solid #f1f1f1;
    margin: 0 10px ;
}
#brands .brands-container div ul li:first-child{margin: 0 10px 0 0;
}
#brands .brands-container div ul li:last-child{margin: 0 0 0 10px;}
#brands .brands-container div ul li a:hover{opacity: 0.6;}


/* ------New at Sephora------ */
#new-items{width: 100%;
    margin-bottom: 45px;
}
.new-container{
    width: 1350px;
    margin: auto;
    padding-top: 10px;
}
.new-container >div{
    display: flex;
    justify-content: space-between;
}
.new-container div.new{
    width: 320px;
    height: 537px;
    border: 1px solid #ccc;
    text-align: center; /* txt 가운데 배치 */
    position: relative; /* position 기준 */
}
/* 이미지 hover 시 위로 8px 이동 */
.new-container div.new a div.new-img-box img{
    max-width: 100%;
    transition: all 0.5s ease-in-out;
}
.new-container div.new:hover a div.new-img-box img{
    /* transform: scale(1.2); */
    transform: translateY(-10px);
}

/* new-txt */
.new-container div.new a p{
    font-family: aGothic;
    
}
.new-container div.new a p:nth-child(2){
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px; /*폰트 좌우 간격(자간)*/
    padding: 14px 0 6px;
}
.new-container div.new a p:nth-child(3){
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}
.new-container div.new2 a p:nth-child(3){
    padding: 10px 0 0 0;
}

/* btn */
.new-container div.new a p:last-child{
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    transition: all 0.5s ease-in-out;
    font-family: 'Noto Sans KR', sans-serif;
}
.new-container div.new:hover a p:last-child{color: #B50A03;}
.new-container div.new2 a p:last-child{
    padding-top: 21px;
}
.new-container div.new a p:last-child span{
    padding: 0 0 0 2px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.new-container div.new:hover a p:last-child span{
    transform: translateX(6px);
    color: #B50A03;
}


/* -------Most Loved Items------- */
.items-slide{
    width: 100%;
    height: auto;
    margin: 20px 0; /* items 세로 간격 */
    /* background-color: #f1f1f1; */
}
#perfume-items.items-slide{
    margin: 20px 0 70px 0;
}

.items-slide .item-bg{
    width: 1350px;
    height: 430px;
    margin: auto;
    display: block;
}
.items-slide h2{
    text-align: center;
    font-family : roxie;
    font-size: 32px;
    font-weight: normal;
    padding: 30px 0 20px;
}
/* ---글씨 하단 선--- */
/* .items-slide h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 0.8px;
    background-color: #333;
    margin: 12px auto 10px;
} */
/* 이미지 hover 시 위로 8px 이동 */
.items-slide .items__inner .swiper img{
    max-width: 100%;
    transition: all 0.5s ease-in-out;
}
.items-slide .items__inner .swiper img:hover{
    /* transform: scale(1.2); */
    transform: translateY(-8px);
}

.items-slide .items__inner{
    position: relative;
}
.items-slide .items__inner .swiper{
    width: 1210px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}
.items-slide .items__inner .swiper .item-txt{
    padding-left: 1px;
}
.items-slide .items__inner .swiper p{
    font-size: 14px;
    letter-spacing: 0.3px;
}
.items-slide .items__inner .swiper p:first-child{
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 0 0;
}
.items-slide .items__inner .swiper span{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 0 0 0;
    letter-spacing: 1px;
    /* font-family: aGothic; */
}

/* navigation */
.items-slide .swiper-button-prev,
.items-slide .swiper-button-next{
    width: 55px;
    height: 55px;
    outline: none;
    /* background-color: #7B0B10; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    cursor: pointer;

    /* 화살표 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-slide .swiper-button-prev{
    left: -8px;
    background: url(../images/icon/item-prev.png) no-repeat center;
    object-fit:cover;
}
.items-slide .swiper-button-next{
    right: -8px;
    background: url(../images/icon/item-next.png) no-repeat center;
    object-fit:cover;
}
.items-slide .swiper-button-prev:hover{
    background: url(../images/icon/item-prev-active.png) no-repeat center;
}
.items-slide .swiper-button-next:hover{
    background: url(../images/icon/item-next-active.png) no-repeat center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


/* =============exclusive============== */
.exclusive{
    width: 100%;
    min-width: 1350px;
    height: auto;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 125px;
    margin: 35px 0 30px 0;
}
.exclusive #exclusive-items{
    padding: 30px 0;
}
.exclusive #exclusive-items h2{
    font-family : roxie;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    padding: 30px 0 45px;
    letter-spacing: 1px; /*자간*/
}
.exclusive .swiper-slide img{
    width: 850px;
    margin: auto;
}

.exclusive .swiper {overflow: visible;}
.exclusive .swiper-slide {filter: brightness(0.3); transition: all 0.3s ease-in-out;}
.exclusive .swiper-slide-active{filter: brightness(1);}
.exclusive .swiper-slide-active img{
    width: 950px;
    position: absolute;
    top: -25px;
    transition: all 0.3s ease-in-out;
}
/* .exclusive .swiper-slide-active img:hover{
    filter: opacity(0.8);
} */


/* navigation */
.exclusive .exclusive-inner{width:1350px; position: relative;}
.exclusive .swiper-button-prev,
.exclusive .swiper-button-next{
    width: 70px;
    height: 70px;
    outline: none;
    /* background-color: #7B0B10; */
    position: absolute;
    top: 390px;

    margin: auto;
    z-index: 2;
    cursor: pointer;

    /* 화살표 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.exclusive .swiper-button-prev{
    left: 340px;
    background: url(../images/icon/exclusive-prev.png) no-repeat center;
    object-fit:cover;
}
.exclusive .swiper-button-next{
    right: 340px;
    background: url(../images/icon/exclusive-next.png) no-repeat center;
    object-fit:cover;
}
.exclusive .swiper-button-prev:hover{
    background: url(../images/icon/exclusive-prev-active.png) no-repeat center;
}
.exclusive .swiper-button-next:hover{
    background: url(../images/icon/exclusive-next-active.png) no-repeat center;
}

/* pager */
.exclusive .swiper-pagination {
    position: absolute;
    bottom: 75px !important;

}
.exclusive .swiper-pagination-bullet {
    background-color: #B50A03;
    margin: 0 2px !important;
    width: 50px;
    height: 3px;
    border-radius: 0;
}

/* ===============SNS============== */
#sns{
    width: 100%;
    height: auto;
    /* 520 */
    background-color: #7B0B10;
    padding: 90px 0 130px;
}
#sns p{
    color: #fff;
    text-align: center;
    font-weight: lighter;
    font-family: aGothic;
    font-size: 13px;
}
#sns h3{
    text-align: center;
    font-family : roxie;
    font-size: 32px;
    font-weight: lighter;
    padding: 7px 0 30px;
    color: #fff;
}
.sns-box{
    width: 50%;
    height: auto;
    margin: auto;
}
.sns-box div{
    /* width: 232px;
    height: auto; */
    margin: 0 5px;
}
.sns-box div:first-child{
    margin: 0 5px 0 2px;
}
.sns-box > div a:hover{
    filter:  grayscale(60%);
}
.sns-box > div a img{
    width: 100%;
}


/* ==============footer=================== */
footer{
    clear: both;
    width: 100%;
    height: 370px;
    background-color: #030102;
    font-family: aGothic;
    display: block;
}
#footer-box{
    width: 1500px;
    height: 370px;
    margin: auto;
    padding: 0 40px 0 60px;
}
#footer-box > div{float: left;}
#left-footer{
    /* float: left; */
    width: 800px;
    height: 370px;
    padding: 40px 0 0 70px;
    position: relative;
}
#left-footer::after{
            /* 박스 사이 선 */
            content: "";
            display: block;
            width: 1px;
            height: 240px;
            background-color: #ccc;
            position: absolute;
            top: 55px;
            right: 0px;
}
.footer-box h5{
    font-size: 15px;
    margin-bottom: 17px;
}
#left-footer > div nav ul li a{
    font-size: 12px;
    line-height: 1.6;
    color: #fff;
    font-weight: 200;
}
#left-footer > div nav ul li a:hover{text-decoration: underline;}
#left-footer > div p{
    margin-top: 20px;
    font-size: 11px;
    line-height: 1.5;
    font-weight: 100;
}

#left-footer > div{
    width: 170px;
    height: 170px;
    float: left;
    color: #fff;
}
#left-footer > div#customer{
    height: 250px;
    position: absolute;
    top: 70px;
    left: 70px;
}
#left-footer > div#company{
    position: absolute;
    top: 70px;
    left: 340px;
}
#left-footer > div#link{
    height: 130px;
    position: absolute;
    top: 70px;
    right: 30px;
}
#left-footer > div#sns-link{
    height: 100px;
    position: absolute;
    top: 230px;
    right: 30px;
}
#left-footer > div#sns-link ul li{
    float: left;
    margin: 0 8px 0 0;
}

/* right */
#right-footer{
    /* float: left; */
    width: 600px;
    height: 370px;
    padding: 70px 0 0 90px;
    font-family: aGothic;
}
#right-footer h4{
    width: 200px;
    margin-bottom: 20px;
}
#right-footer h4 img{
    width: 100%;
}

#right-footer address{
    padding-left: 5px;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    color: #fff;
}