@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

/* font-family: aGothic */
/* a고딕 10~19까지 */

/* font-family : roxie */

body{
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}


















